<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0 " />
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <!---<script src="js/jquery.mCustomScrollbar.js"></script>--->
    <script src="js/common.js"></script>
    <script src="js/select.js"></script>
    <link rel="stylesheet" href="css/common.css" />
    <link rel="stylesheet" href="css/jquery.mCustomScrollbar.css" />
    <title>SFA - 금일방문객</title>
</head>
<body>
    <div class="nv_login_wrap">
        <div class="nv_login_box">
            <h1 class="login_logo">SFA 에스에프에이</h1>
            <input type="text" class="nv_login_input" placeholder="ID">
            <input type="password" class="nv_login_input" placeholder="PASSWORD">
            <div class="nv_login_check">
                <input type="checkbox" id="loginsave">
                <label for="loginsave">로그인 정보 저장</label>
            </div>
            <input type="submit" class="nv_login_button" value="LOGIN">
            <p>(주)SFA 방문관리시스템</p>
        </div>
    </div>
</body>
</html>