<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0 " />
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <!---<script src="js/jquery.mCustomScrollbar.js"></script>--->
    <script src="js/common.js"></script>
    <script src="js/select.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="css/common.css" />
    <link rel="stylesheet" href="css/jquery.mCustomScrollbar.css" />
    <title>SFA - 방문객관리</title>
</head>
<body>
    <script>
        $(function() {
            $.datepicker.setDefaults({
                dateFormat: 'yy-mm-dd'
                ,showOtherMonths: true
                ,showMonthAfterYear:true
                ,buttonImageOnly: true
                ,buttonText: "선택"       
                ,yearSuffix: "년"
                ,monthNamesShort: ['1','2','3','4','5','6','7','8','9','10','11','12']
                ,monthNames: ['1월','2월','3월','4월','5월','6월','7월','8월','9월','10월','11월','12월']
                ,dayNamesMin: ['일','월','화','수','목','금','토']
                ,dayNames: ['일요일','월요일','화요일','수요일','목요일','금요일','토요일']
            });
            
            $("#datepicker").datepicker();
            
            $('#datepicker').datepicker('setDate', 'today');
        });
    </script>
    <div class="nv_wrap">
          <p class="lnb_close pc_skip">LNB 닫기</p>
          <div class="nv_lnb">
               <h1 class="nv_logo tpc_skip m_skip">SFA 에스에프에이</h1>
               <div class="nv_m_profile pc_skip">
                   <div class="img_box">
                       <img src="imgaes/profileimg.png" alt="프로필이미지">
                   </div>
                   <div class="name_box">
                       <p class="username">이송이</p>
                       <p class="userid">leesongyi</p>
                   </div>
                   <button type="button" class="nv_logout"></button>
               </div>
               <nav>
                    <ul class="nv_lnv_level1">
                        <li><a href="#a">금일방문객</a></li>
                        <li><a href="#a">방문등록</a></li>
                        <li><a href="#a">방문승인</a></li>
                        <li><a href="#a">방문이력</a></li>
                        <li><a href="#a" class="on">방문객관리</a></li>
                        <li><a href="#a">관리자권한관리</a></li>
                        <li><a href="#a">교육컨텐츠관리</a></li>
                        <li><a href="#a">교육관리</a></li>
                        <li><a href="#a">공지사항</a></li>
                        <li><a href="#a">FAQ</a></li>
                        <li><a href="#a">1dapth</a>
                            <ul class="nv_lnv_level2">
                                <li><a href="#a">2depth</a></li>
                                <li><a href="#a">2depth</a></li>
                                <li><a href="#a" class="on">2depth</a></li>
                            </ul>
                        </li>
                    </ul>
                </nav>
          </div>
          <div class="nv_container">
              <div class="nv_top tpc_skip m_skip">
                  <ul class="nv_reborn">
                      <li><a href="#a" class="nv_blue nv_bold">HOME</a></li>
                      <li><a href="#a">방문객관리</a></li>
                  </ul>
                  <div class="nv_login_info_pc">
                      <p class="nv_bold"><span class="nv_blue">이송이</span> 님, 반갑습니다. 좋은 하루 되세요.</p>
                      <button type="button" class="nv_blue_button">로그아웃</button>
                  </div>
              </div>
              <div class="nv_m_header pc_skip">
                  <p class="nv_toggle">모바일 메뉴 열기</p>
                  <h1 class="nv_logo_m">SFA</h1>
              </div>
              <div class="nv_contents_wrap">
                  <div class="nv_contents">
                      <div class="nv_contents_main_header">
                          <h4>방문객관리</h4>
                      </div>
                      <div class="btn_left m_skip">
                          <button type="button" class="nv_red_button delete_icon_btn">선택 항목 삭제</button>
                          <button type="button" class="nv_blue_button add_icon_btn">방문객 등록</button>
                      </div>
                      <div class="nv_contents_search">
                          <div class="nv_select_box">
                              <p>예약번호</p>
                              <ul>
                                  <li>예약번호</li>
                                  <li>예약번호</li>
                                  <li>예약번호</li>
                              </ul>
                          </div>
                          <div class="nv_search_box">
                              <input type="text" class="nv_input">
                              <input type="submit" class="nv_search_icon">
                          </div>
                      </div>
                      <div class="nv_table_box">
                          <table class="nv_table textcenter" cellspacing="0" cellpadding="0">
                              <thead>
                                  <tr>
                                      <th class="nv_gray_check">
                                          <input type="checkbox" id="allcheck">
                                          <label for="allcheck">전체 선택</label>
                                      </th>
                                      <th>방문자명</th>
                                      <th class="tpc_skip m_skip">생년월일</th>
                                      <th class="tpc_skip m_skip">연락처</th>
                                      <th class="tpc_skip m_skip">회사</th>
                                      <th class="tpc_skip m_skip">마지막 방문일자</th>
                                      <th>관리</th>
                                  </tr>
                              </thead>
                              <tbody>
                                  <tr class="nv_view_nexttable">
                                      <td class="nv_gray_check">
                                          <input type="checkbox" id="n1" name="n">
                                          <label for="n1">선택</label>
                                      </td>
                                      <td>
                                          방문자
                                      </td>
                                      <td class="tpc_skip m_skip">
                                          <input type="text" class="nv_input" id="datepicker">
                                      </td>
                                      <td class="tpc_skip m_skip nv_phone_area">
                                          <div class="nv_select_box">
                                              <p>010</p>
                                              <ul>
                                                  <li>010</li>
                                                  <li>011</li>
                                                  <li>070</li>
                                              </ul>
                                          </div>
                                          <span>-</span>
                                          <input type="text" class="nv_input">
                                          <span>-</span>
                                          <input type="text" class="nv_input">
                                     </td>
                                      <td class="tpc_skip m_skip">
                                          <input type="text" class="nv_input" placeholder="에스원">
                                      </td>
                                      <td class="tpc_skip m_skip">2019-08-27 오후 1:42:31</td>
                                      <td>
                                          <button type="button" class="nv_green_button">저장</button>
                                      </td>
                                  </tr>
                                  <tr class="pc_skip">
                                      <td colspan="4" class="nv_hidden_table_area">
                                          <table class="nv_hidden_table">
                                             <colgroup>
                                                 <col width="20%">
                                                 <col width="80%">
                                             </colgroup>
                                              <tbody>
                                                 <tr>
                                                     <td class="nv_bold textcenter">생년월일</td>
                                                     <td>
                                                          <input type="text" class="nv_input" placeholder="1991-01-01">
                                                      </td>
                                                 </tr>
                                                 <tr>
                                                      <td class="nv_bold textcenter">연락처</td>
                                                      <td class="nv_phone_area">
                                                          <div class="nv_select_box">
                                                              <p>010</p>
                                                              <ul>
                                                                  <li>010</li>
                                                                  <li>011</li>
                                                                  <li>070</li>
                                                              </ul>
                                                          </div>
                                                          <span>-</span>
                                                          <input type="text" class="nv_input">
                                                          <span>-</span>
                                                          <input type="text" class="nv_input">
                                                     </td>
                                                 </tr>
                                                 <tr>
                                                     <td class="nv_bold textcenter">회사</td>
                                                     <td>
                                                          <input type="text" class="nv_input" placeholder="회사명을 입력해주세요.">
                                                      </td>
                                                 </tr>
                                                 <tr>
                                                     <td class="nv_bold textcenter">마지막 방문일자</td>
                                                     <td>2019-08-27 오후 1:42:31</td>
                                                 </tr>
                                              </tbody>
                                          </table>
                                      </td>
                                  </tr>
                                  <tr class="nv_view_nexttable">
                                      <td class="nv_gray_check">
                                          <input type="checkbox" id="n2" name="n">
                                          <label for="n2">선택</label>
                                      </td>
                                      <td>방문자2</td>
                                      <td class="tpc_skip m_skip">1991-01-01</td>
                                      <td class="tpc_skip m_skip">010-1111-2222</td>
                                      <td class="tpc_skip m_skip">에스원</td>
                                      <td class="tpc_skip m_skip">2019-08-27 오후 1:42:31</td>
                                      <td>
                                          <button type="button" class="nv_blue_button">수정</button>
                                      </td>
                                  </tr>
                                  <tr class="pc_skip">
                                      <td colspan="4" class="nv_hidden_table_area">
                                          <table class="nv_hidden_table">
                                             <colgroup>
                                                 <col width="20%">
                                                 <col width="80%">
                                             </colgroup>
                                              <tbody>
                                                 <tr>
                                                     <td class="nv_bold textcenter">생년월일</td>
                                                     <td>
                                                          1991-01-01
                                                      </td>
                                                 </tr>
                                                 <tr>
                                                      <td class="nv_bold textcenter">연락처</td>
                                                      <td class="nv_phone_area">
                                                          010-1111-2222
                                                     </td>
                                                 </tr>
                                                 <tr>
                                                     <td class="nv_bold textcenter">회사</td>
                                                     <td>
                                                          에스원
                                                      </td>
                                                 </tr>
                                                 <tr>
                                                     <td class="nv_bold textcenter">마지막 방문일자</td>
                                                     <td>2019-08-27 오후 1:42:31</td>
                                                 </tr>
                                              </tbody>
                                          </table>
                                      </td>
                                  </tr>
                              </tbody>
                          </table>
                          <div class="nv_m_btn_area pc_skip tpc_skip">
                              <button type="button" class="nv_red_button delete_icon_btn left">선택 항목 삭제</button>
                              <button type="button" class="nv_blue_button add_icon_btn right">방문객 등록</button>
                          </div>
                          <div class="nv_table_pagenum">
                              <ul>
                                  <li class="first">처음으로</li>
                                  <li class="prev">이전으로</li>
                                  <li class="on">1</li>
                                  <li class="next">다음으로</li>
                                  <li class="last">마지막으로</li>
                              </ul>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <footer class="pc_skip nv_footer">
              <address>COPYRIGHT ⓒ Neovision CO. ALL RIGHTS RESERVED.</address>
          </footer>
    </div>
    <script>
        $(document).ready(function(){
            $("#allcheck").click(function(){
                if($("#allcheck").prop("checked")){
                    $("input[name=n]").prop("checked",true);
                }else{
                    $("input[name=n]").prop("checked",false);
                }
            });
        });
    </script>
</body>
</html>