<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0 " />
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <!---<script src="js/jquery.mCustomScrollbar.js"></script>--->
    <script src="js/common.js"></script>
    <script src="js/select.js"></script>
    <link rel="stylesheet" href="css/common.css" />
    <link rel="stylesheet" href="css/jquery.mCustomScrollbar.css" />
    <title>SFA - 교육컨텐츠관리</title>
</head>
<body>
    <div class="nv_wrap">
          <p class="lnb_close pc_skip">LNB 닫기</p>
          <div class="nv_lnb">
               <h1 class="nv_logo tpc_skip m_skip">SFA 에스에프에이</h1>
               <div class="nv_m_profile pc_skip">
                   <div class="img_box">
                       <img src="imgaes/profileimg.png" alt="프로필이미지">
                   </div>
                   <div class="name_box">
                       <p class="username">이송이</p>
                       <p class="userid">leesongyi</p>
                   </div>
                   <button type="button" class="nv_logout"></button>
               </div>
               <nav>
                    <ul class="nv_lnv_level1">
                        <li><a href="#a">금일방문객</a></li>
                        <li><a href="#a">방문등록</a></li>
                        <li><a href="#a">방문승인</a></li>
                        <li><a href="#a">방문이력</a></li>
                        <li><a href="#a">방문객관리</a></li>
                        <li><a href="#a">관리자권한관리</a></li>
                        <li><a href="#a" class="on">교육컨텐츠관리</a></li>
                        <li><a href="#a">교육관리</a></li>
                        <li><a href="#a">공지사항</a></li>
                        <li><a href="#a">FAQ</a></li>
                        <li><a href="#a">1dapth</a>
                            <ul class="nv_lnv_level2">
                                <li><a href="#a">2depth</a></li>
                                <li><a href="#a">2depth</a></li>
                                <li><a href="#a" class="on">2depth</a></li>
                            </ul>
                        </li>
                    </ul>
                </nav>
          </div>
          <div class="nv_container">
              <div class="nv_top tpc_skip m_skip">
                  <ul class="nv_reborn">
                      <li><a href="#a" class="nv_blue nv_bold">HOME</a></li>
                      <li><a href="#a">교육컨텐츠관리</a></li>
                  </ul>
                  <div class="nv_login_info_pc">
                      <p class="nv_bold"><span class="nv_blue">이송이</span> 님, 반갑습니다. 좋은 하루 되세요.</p>
                      <button type="button" class="nv_blue_button">로그아웃</button>
                  </div>
              </div>
              <div class="nv_m_header pc_skip">
                  <p class="nv_toggle">모바일 메뉴 열기</p>
                  <h1 class="nv_logo_m">SFA</h1>
              </div>
              <div class="nv_contents_wrap">
                  <div class="nv_contents">
                      <div class="nv_contents_main_header">
                          <h4>교육컨텐츠관리</h4>
                      </div>
                      <div class="nv_contents_select_box">
                          <div class="nv_select_box">
                              <p>정렬기준</p>
                              <ul>
                                  <li>파일명</li>
                                  <li>등록날짜</li>
                              </ul>
                          </div>
                          <button type="button" class="nv_green_button reset_icon_btn">새로고침</button>
                          <button type="button" class="nv_red_button delete_icon_btn m_skip">선택 항목 삭제</button>
                      </div>
                      <div class="nv_contents_manage_box">
                            <div class="top_checkarea_box">
                                <input type="checkbox" id="allcheck">
                                <label for="allcheck">전체 선택</label>
                            </div>
                            <div class="nv_contetns_list">
                                  <ul>
                                      <li>
                                          <input type="checkbox" id="n1" name="n">
                                          <label for="n1">선택</label>
                                          <p>
                                              <span>사용자웹.png</span>
                                          </p>
                                      </li>
                                      <li>
                                          <input type="checkbox" id="n2" name="n">
                                          <label for="n2">선택</label>
                                          <p>
                                              <span>사용자웹2.png</span>
                                          </p>
                                      </li>
                                      <li>
                                          <input type="checkbox" id="n3" name="n">
                                          <label for="n3">선택</label>
                                          <p>
                                              <span>사용자웹2.png</span>
                                          </p>
                                      </li>
                                      <li>
                                          <input type="checkbox" id="n4" name="n">
                                          <label for="n4">선택</label>
                                          <p>
                                              <span>사용자웹2.png</span>
                                          </p>
                                      </li>
                                      <li>
                                          <input type="checkbox" id="n5" name="n">
                                          <label for="n5">선택</label>
                                          <p>
                                              <span>사용자웹2.png</span>
                                          </p>
                                      </li>
                                  </ul>
                            </div>
                            <div class="add_contents_btn_area">
                                <button type="button" class="nv_red_button add_icon_btn m_skip">컨텐츠 등록</button>
                            </div>
                            <div class="nv_m_btn_area pc_skip tpc_skip">
                              <button type="button" class="nv_red_button delete_icon_btn left">선택 항목 삭제</button>
                              <button type="button" class="nv_blue_button add_icon_btn right">컨텐츠 등록</button>
                            </div>
                      </div>
                  </div>
              </div>
          </div>
          <footer class="pc_skip nv_footer">
              <address>COPYRIGHT ⓒ Neovision CO. ALL RIGHTS RESERVED.</address>
          </footer>
    </div>
    <script>
        $(document).ready(function(){
            $("#allcheck").click(function(){
                if($("#allcheck").prop("checked")){
                    $("input[name=n]").prop("checked",true);
                }else{
                    $("input[name=n]").prop("checked",false);
                }
            });
        });
    </script>
</body>
</html>