<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0 " />
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <!---<script src="js/jquery.mCustomScrollbar.js"></script>--->
    <script src="js/common.js"></script>
    <script src="js/select.js"></script>
    <link rel="stylesheet" href="css/common.css" />
    <link rel="stylesheet" href="css/jquery.mCustomScrollbar.css" />
    <title>SFA - FAQ - FAQ 등록</title>
</head>
<body>
    <div class="nv_wrap">
          <p class="lnb_close pc_skip">LNB 닫기</p>
          <div class="nv_lnb">
               <h1 class="nv_logo tpc_skip m_skip">SFA 에스에프에이</h1>
               <div class="nv_m_profile pc_skip">
                   <div class="img_box">
                       <img src="imgaes/profileimg.png" alt="프로필이미지">
                   </div>
                   <div class="name_box">
                       <p class="username">이송이</p>
                       <p class="userid">leesongyi</p>
                   </div>
                   <button type="button" class="nv_logout"></button>
               </div>
               <nav>
                    <ul class="nv_lnv_level1">
                        <li><a href="#a">금일방문객</a></li>
                        <li><a href="#a">방문등록</a></li>
                        <li><a href="#a">방문승인</a></li>
                        <li><a href="#a">방문이력</a></li>
                        <li><a href="#a">방문객관리</a></li>
                        <li><a href="#a">관리자권한관리</a></li>
                        <li><a href="#a">교육컨텐츠관리</a></li>
                        <li><a href="#a">교육관리</a></li>
                        <li><a href="#a">공지사항</a></li>
                        <li><a href="#a" class="on">FAQ</a></li>
                        <li><a href="#a">1dapth</a>
                            <ul class="nv_lnv_level2">
                                <li><a href="#a">2depth</a></li>
                                <li><a href="#a">2depth</a></li>
                                <li><a href="#a" class="on">2depth</a></li>
                            </ul>
                        </li>
                    </ul>
                </nav>
          </div>
          <div class="nv_container">
              <div class="nv_top tpc_skip m_skip">
                  <ul class="nv_reborn">
                      <li><a href="#a" class="nv_blue nv_bold">HOME</a></li>
                      <li><a href="#a">FAQ</a></li>
                      <li><a href="#a">FAQ 등록</a></li>
                  </ul>
                  <div class="nv_login_info_pc">
                      <p class="nv_bold"><span class="nv_blue">이송이</span> 님, 반갑습니다. 좋은 하루 되세요.</p>
                      <button type="button" class="nv_blue_button">로그아웃</button>
                  </div>
              </div>
              <div class="nv_m_header pc_skip">
                  <p class="nv_toggle">모바일 메뉴 열기</p>
                  <h1 class="nv_logo_m">SFA</h1>
              </div>
              <div class="nv_contents_wrap">
                  <div class="nv_contents">
                      <div class="nv_contents_main_header">
                          <h4>FAQ 등록</h4>
                      </div>
                      <div class="nv_table_tit nv_wirte_tit">
                          <h4>FAQ 작성</h4>
                          <p>
                              <span class="nv_red">*</span> 는 필수 입력 사항입니다.
                          </p>
                      </div>
                      <table class="nv_table nv_write_table" cellpadding="0" cellspacing="0">
                         <colgroup>
                             <col width="20%">
                             <col>
                         </colgroup>
                          <tbody>
                              <tr>
                                  <td class="nv_bold textcenter">작성자 ID</td>
                                  <td>s101</td>
                              </tr>
                              <tr>
                                  <td class="nv_bold textcenter"><span class="nv_red">*</span> 질문</td>
                                  <td>
                                      <textarea name="" id="" cols="30" rows="10" class="nv_textarea"></textarea>
                                  </td>
                              </tr>
                              <tr>
                                  <td class="nv_bold textcenter"><span class="nv_red">*</span> 내용</td>
                                  <td>
                                      <textarea name="" id="" cols="30" rows="10" class="nv_textarea"></textarea>
                                  </td>
                              </tr>
                          </tbody>
                      </table>
                        <div class="btn_area nv_page_bottomarea_type2">
                            <button type="button" class="nv_green_button m_w_100">목록</button>
                            <button type="button" class="nv_blue_button m_w_100">저장</button>
                        </div>
                  </div>
              </div>
          </div>
          <footer class="pc_skip nv_footer">
              <address>COPYRIGHT ⓒ Neovision CO. ALL RIGHTS RESERVED.</address>
          </footer>
    </div>
</body>
</html>