<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.neo.visitor.insa.repository.InsaRepository">
    <resultMap id="Host" type="com.neo.visitor.domain.user.entity.Host">
        <id column="HostID" property="hostID" />
        <result column="HostName" property="hostName" />
        <result column="Mobile" property="mobile" />
        <result column="Tel" property="tel" />
        <result column="Company" property="company" />
        <result column="GradeName" property="gradeName" />
        <result column="PositionName" property="positionName" />
        <result column="InsertDate" property="insertDate" />
        <result column="DeleteFlag" property="deleteFlag" />
        <result column="AdminID" property="adminID" />
        <result column="Email" property="email" />
        <result column="DeptCD" property="deptCD" />
        <result column="Auth" property="auth" />
        <result column="SiteCode" property="siteCode" />
    </resultMap>

    <sql id="insaInfo">
        select 
        D2.DeptName As SiteName,A.* 
        from (SELECT 

            D.RootOrgUnitID As SiteCode
            ,D.DeptName as DeptCD
            ,I.[UserID]
            ,ISNULL(I.[EmployeeID], '') AS HostID
            ,I.[Name] AS HostName
            ,I.[DisplayName]
            ,I.[Mail] AS Email
            ,ISNULL(REPLACE(I.[OfficePhoneNumber],'+82 ','0'), '') AS Tel
            ,ISNULL(G.HRCodeName, '') AS GradeName
            ,ISNULL(P.HRCodeName, '') AS PositionName
            ,I.StartDate AS InsertDate
            ,C.HRCodeName AS Company
        FROM [ADMasterDB].[dbo].[ViewGHRISUserMaster2] I
        left outer join [ADMasterDB].[dbo].[ViewGHRISDeptMaster2] D ON I.OrgUnitID = D.OrgUnitID
        left outer join (SELECT * FROM ViewGHRISHRCodeMaster where Separator = 'CallingTitle' AND Language = 'KO') G ON I.CallingTitleCode = G.HRCode
        left outer join (SELECT * FROM ViewGHRISHRCodeMaster where Separator = 'PositionGroup' AND Language = 'KO') P ON I.PositionGroupCode = P.HRCode
        left outer join (SELECT * FROM ViewGHRISHRCodeMaster where Separator = 'PersonnelArea') C ON I.OriginPersonnelAreaCode = C.HRCode
        where EmployeeStatus = '3' and mail is not null AND D.RootOrgUnitID is not null
        ) AS A
        left outer join ViewGHRISDeptMaster2 D2 on A.SiteCode = D2.OrgUnitID
    </sql>

    <sql id="insaInfoPartner">
        select 
        D2.DeptName As SiteName,A.* 
        from (SELECT 

            D.RootOrgUnitID As SiteCode
            ,D.DeptName as DeptCD
            ,I.[UserID]
            ,ISNULL(I.[EmployeeID], ISNULL(I.UserID, '')) AS HostID
            ,I.[Name] AS HostName
            ,I.[DisplayName]
            ,I.[Mail] AS Email
            ,ISNULL(REPLACE(I.[OfficePhoneNumber],'+82 ','0'), '') AS Tel
            ,ISNULL(G.HRCodeName, '') AS GradeName
            ,ISNULL(P.HRCodeName, '') AS PositionName
            ,I.StartDate AS InsertDate
            ,C.HRCodeName AS Company
        FROM [ADMasterDB].[dbo].[ViewGHRISUserMaster2] I
        left outer join [ADMasterDB].[dbo].[ViewGHRISDeptMaster2] D ON I.OrgUnitID = D.OrgUnitID
        left outer join (SELECT * FROM ViewGHRISHRCodeMaster where Separator = 'CallingTitle' AND Language = 'KO') G ON I.CallingTitleCode = G.HRCode
        left outer join (SELECT * FROM ViewGHRISHRCodeMaster where Separator = 'PositionGroup' AND Language = 'KO') P ON I.PositionGroupCode = P.HRCode
        left outer join (SELECT * FROM ViewGHRISHRCodeMaster where Separator = 'PersonnelArea') C ON I.OriginPersonnelAreaCode = C.HRCode
        where EmployeeStatus = '3' and mail is not null
        ) AS A
        left outer join ViewGHRISDeptMaster2 D2 on A.SiteCode = D2.OrgUnitID
    </sql>

    <select id="findAll" resultMap="Host">
        <include refid="insaInfo"></include>
    </select>

    <select id="findByEmail" parameterType="java.lang.String" resultMap="Host">
        <include refid="insaInfo"></include>
        WHERE A.Email = #{email}
    </select>
    <select id="findByLikeName" parameterType="java.lang.String" resultMap="Host">
        <include refid="insaInfo"></include>
        WHERE A.HostName LIKE '%'+#{name}+'%'
    </select>
    <select id="findByLikeNameWithPartner" parameterType="java.lang.String" resultMap="Host">
        <include refid="insaInfoPartner"></include>
        WHERE A.HostName LIKE '%'+#{name}+'%'
    </select>
    <select id="findByHostId" parameterType="java.lang.String" resultMap="Host">
        <include refid="insaInfo"></include>
        WHERE A.HostID = #{hostId}
    </select>
    <select id="findByHostIdWithPartner" parameterType="java.lang.String" resultMap="Host">
        <include refid="insaInfoPartner"></include>
        WHERE A.HostID = #{hostId}
    </select>
    <select id="findByEmailWithPartner" parameterType="java.lang.String" resultMap="Host">
        <include refid="insaInfoPartner"></include>
        WHERE A.Email = #{email}
    </select>
    
</mapper>
