<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.neo.visitor.domain.buildingSiteMapping.repository.SiteRepository">
    <resultMap id="site" type="com.neo.visitor.domain.buildingSiteMapping.entity.Site">
        <result column="code" property="code" />
        <result column="name" property="name" />
    </resultMap>
    <sql id="site">
        SELECT
            code, 
            name
        FROM
            site
		WHERE 1=1
    </sql>
    <select id="findAll" resultMap="site">
        <include refid="site"></include>
    </select>
    <select id="findByCode" parameterType="java.lang.String" resultMap="site">
        <include refid="site"></include>
        AND code = #{code}
    </select>
</mapper>